name: CI

on: [pull_request, push]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: ${{ github.head_ref != '' }}

jobs:
  ci:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Setup nodejs
        uses: actions/setup-node@v5
        with:
          node-version: 'lts/*'

      - name: Install tools
        run: |
          npm install
          npm ls
          echo "::group::npm ls --all"
          npm ls --all
          echo "::endgroup::"

      - name: Run tests
        run: npm run test

      - name: Lint code
        run: |
          npm run lint
          npm run check

      - name: Format code
        run: |
          npm run format
          git diff --exit-code

      - name: Build code
        run: |
          npm run build_rel
          git diff --exit-code
